

.banner {
    display: flex;
    justify-content: center;
}


.feature.left {
    text-align: justify;
}
.feature {
    position: inherit;
    height: 29em;
}

feature.left .content {
    padding-right: 0;
}
.feature .content {
    display: inline-block;
    padding: 3.5em;
    vertical-align: middle;
    width: 48%;
}
.feature.right .image {
    float: right;

}

.box image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature .image {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
    

            
.banner {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(images/night-KL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  padding: 100px 50px;
  
}

.banner-content {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: auto;
  display: flex;
  justify-content: center;
}

.content p {
    display: flex;
    justify-content: center;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  .box {
    display: flex;
    align-content: center;
  }

.content img {
    display: flex;
}
.body{
  background-color:#7d7129;
}